<!-- src/main/resources/templates/members.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members List</title>
</head>
<body>

<h1>Members List</h1>

<table border="1">
  <tr>
    <th>Member ID</th>
    <th>Email</th>
    <th>Nickname</th>
    <th>Phone Number</th>
    <th>Address</th>
    <th>Role</th>
    <th>Point</th>
    <th>Actions</th>
  </tr>

  <tr th:each="member : ${members}">
    <td th:text="${member.memberId}"></td>
    <td th:text="${member.email}"></td>
    <td th:text="${member.nickName}"></td>
    <td th:text="${member.phoneNumber}"></td>
    <td th:text="${member.address}"></td>
    <td th:text="${member.role}"></td>
    <td th:text="${member.point}"></td>
    <td>
      <a th:href="@{/members/{memberId}(memberId=${member.memberId})}">View</a>
      <a th:href="@{/members/delete/{memberId}(memberId=${member.memberId})}">Delete</a>
    </td>
  </tr>
</table>

<p><a th:href="@{/}">Back to Main Page</a></p>

</body>
</html>
