<!-- resources/templates/restaurantForm.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Restaurant</title>
</head>
<body>
<h1>Create Restaurant</h1>

<form action="/restaurants" method="post">
    <label for="restaurantName">Restaurant Name:</label>
    <input type="text" id="restaurantName" name="restaurantName" required>

    <label for="category">Category:</label>
    <input type="text" id="category" name="category" required>

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" required>

    <label for="resNumber">Restaurant Number:</label>
    <input type="text" id="resNumber" name="resNumber" required>

    <button type="submit">Create</button>
</form>
</body>
</html>
