<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Detail Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card-menu {
            background-color: #e9ecef;
            color: black;
        }

        .card-menu img {
            height: 200px; /* Adjust as needed */
            object-fit: cover;
        }

        .info-header {
            background-color: #ffd43b;
            padding: 10px;
            margin-bottom: 20px;
        }

        .info-content {
            background-color: #f8f9fa;
            padding: 10px;
            margin-bottom: 20px;
        }

        .order-btn {
            background-color: #51cf66;
            color: white;
            margin-top: 10px;
        }

        .cart-btn {
            background-color: #ff6b6b;
            color: white;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="info-header text-center">
        <h1>가게 상세 정보</h1>
    </div>
    <div id="restaurantId" th:text="${restaurant.id}" style="display: none;"></div>
    <div class="info-content">
        <h3 th:text="${restaurant.restaurantName}">Restaurant Name</h3>
        <p th:text="${restaurant.address}">Restaurant Address</p>
        <p th:text="${restaurant.resNumber}">Restaurant Phone Number</p>
        <p th:text="${'Owner: ' + restaurant.ownerName}">Owner</p> <!-- Member 정보를 표시 -->
        <!-- Details for each menu item -->
        <h2 class="menu-header mb-4">메뉴</h2>
        <div class="row">
            <!-- Menu items should be dynamically loaded using server-side rendering or client-side JavaScript -->
            <div class="col-md-4 mb-3" th:each="menu : ${restaurant.menu}">
                <div class="card card-menu">
                    <img th:src="@{${menu.imageUrl}}" class="card-img-top" alt="Menu Image"
                         onerror="this.onerror=null; this.src='default-image-path.jpg'">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${menu.foodName}">Menu Name</h5>
                        <p class="card-text" th:text="${'₩ ' + menu.price}">Price</p>
                        <!--                        <div class="member-id-input">-->
                        <!--                            <label for="memberId">멤버 ID:-->
                        <!--                            <input type="number" id="memberId" name="memberId" placeholder="멤버 ID를 입력하세요" required>-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                        <label>수량
                            <input type="number" min="1" value="1" class="quantity-input"
                                   th:id="'quantity-' + ${menu.id}">
                        </label>

                        <!-- '장바구니에 담기' 버튼: AJAX 요청을 통해 서버의 addToOrder 메소드 호출 -->
                        <button class="btn cart-btn"
                                th:onclick="'addToCart(' + ${restaurant.id} + ', ' + ${menu.id} + ');'">장바구니에 담기
                        </button>
                        <button class="btn btn-danger delete-btn" th:attr="data-menu-id=${menu.id}"
                                th:onclick="'deleteMenu(' + ${restaurant.id} + ', ' + ${menu.id} + ');'">메뉴 삭제
                        </button>

                        <script>
                            function deleteMenu(restaurantId, menuId) {
                                const confirmation = confirm("정말로 이 메뉴를 삭제하시겠습니까?");

                                if (confirmation) {
                                    const url = `/restaurant/${restaurantId}/menus/${menuId}`;

                                    fetch(url, {
                                        method: "DELETE",
                                        headers: {
                                            "Content-Type": "application/json",
                                            "Authorization": "Bearer " + authorization, // Authorization 헤더 추가
                                        },
                                    })
                                        .then(function (response) {
                                            if (response.ok) {
                                                alert("메뉴가 성공적으로 삭제되었습니다.");
                                                location.reload(); // 페이지 새로고침
                                            } else {
                                                alert("메뉴 삭제 중 오류가 발생했습니다.");
                                            }
                                        })
                                        .catch(function (error) {
                                            console.error("메뉴 삭제 중 오류 발생:", error);
                                        });
                                }
                            }
                        </script>

                    </div>
                    <button class="btn cart-btn" th:onclick="'placeOrder(' + ${restaurant.id} + ');'">주문 목록 보기
                    </button>
                    <script>
                        const authorization = localStorage.getItem('Authorization');

                        function placeOrder(restaurantId) {
                            if (!authorization) {
                                alert('인증 정보가 없습니다. 로그인이 필요합니다.');
                                return;
                            }

                            fetch(`/restaurants/${restaurantId}/orders`, {
                                method: 'GET',
                                headers: {
                                    'Authorization': 'Bearer ' + authorization,
                                }
                            })
                                .then(response => {
                                    if (response.ok) {
                                        return response.json();
                                    } else {
                                        throw new Error('서버에서 응답을 처리할 수 없습니다.');
                                    }
                                })
                                .then(data => {
                                    sessionStorage.setItem('orderData', JSON.stringify(data));
                                    window.location.href = '/orders';
                                })
                                .catch(error => {
                                    console.error('오류가 발생했습니다:', error);
                                    alert('오류가 발생했습니다.');
                                });
                        }
                    </script>
                </div>
            </div>

            <script>
                let cart = [];
                function addToCart(restaurantId, menuId) {
                    const quantityInput = document.getElementById('quantity-' + menuId);
                    const quantity = quantityInput.value;

                    // 로컬 스토리지에서 Authorization 정보 가져오기
                    const authorization = localStorage.getItem('Authorization');

                    if (!authorization) {
                        alert('인증 정보가 없습니다. 로그인이 필요합니다.');
                        return;
                    }

                    fetch(`/restaurants/${restaurantId}/orders/${menuId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'Authorization': 'Bearer ' + authorization,
                        },
                        body: `quantity=${quantity}`
                    })
                        .then(response => {
                            if (response.ok) {
                                return response.text();
                            } else {
                                throw new Error('Network response was not ok.');
                            }
                        })
                        .then(text => {
                            alert('장바구니에 담겼습니다.');
                        })
                        .catch(error => {
                            console.error('장바구니에 담는 중 문제가 발생했습니다:', error);
                            alert('장바구니에 담는 중 문제가 발생했습니다.');
                        });
                }

            </script>

        </div>


    </div>

</div>


<h2 class="review-header mb-4">리뷰</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>작성자</th>
        <th>평점</th>
        <th>내용</th>
    </tr>
    </thead>
    <tbody>
    <!-- 리뷰 정보를 동적으로 표시 -->
    <tr th:each="review : ${restaurant.reviews}">
        <td th:text="${review.member.nickName}">작성자</td>
        <td th:text="${review.rating}">평점</td>
        <td th:text="${review.content}">내용</td>
    </tr>
    </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>