<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaurant and Menu Test Page</title>
</head>
<body>

<h2>Restaurant and Menu Information</h2>

<table border="1">
    <thead>
    <tr>
        <th>Restaurant ID</th>
        <th>Restaurant Name</th>
        <th>Address</th>
        <th>Category</th>
        <th>Menu Items</th>
        <th>Sales of Month</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="restaurants : ${restaurant}">
        <td th:text="${restaurant.id}"></td>
        <td th:text="${restaurant.restaurantName}"></td>
        <td th:text="${restaurant.address}"></td>
        <td th:text="${restaurant.category}"></td>
        <td>
            <ul>
                <li th:each="menu : ${restaurant.menu}">
                    <span th:text="${menu.foodName}"></span> - <span th:text="${menu.price}"></span>

                    <!-- 메뉴 이미지 표시 -->
                    <img th:src="${menu.imageUrl}" alt="Menu Image" width="100" height="100"/>

                    <form th:action="@{'/restaurants/' + ${restaurant.id} + '/orders/' + ${menu.id}}" method="post">
                        <label for="quantity">수량:</label>
                        <input type="number" id="quantity" name="quantity" value="1" min="1" required>
                        <label for="memberId">멤버아이디(임시):</label>
                        <input type="number" id="memberId" name="memberId" value="0" required>
                        <input type="hidden" name="restaurantId" value="${restaurant.id}">
                        <input type="hidden" name="menuId" value="${menu.id}">
                        <button type="submit">담기</button>
                    </form>
                </li>
            </ul>
        </td>
        <td th:text="${restaurant.salesOfMonth}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
