<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>
<body>

<h2>Sign Up</h2>

<form th:action="@{/members/signup}" th:object="${memberRequestDto}" method="post">

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" th:field="*{email}" required>

  <br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" th:field="*{password}" required>

  <br>

  <label for="nickName">Nickname:</label>
  <input type="text" id="nickName" name="nickName" th:field="*{nickName}" required>

  <br>

  <label for="phoneNumber">Phone Number:</label>
  <input type="tel" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" required>

  <br>

  <label for="address">Address:</label>
  <input type="text" id="address" name="address" th:field="*{address}" required>

  <br>
  <br>

  <button type="submit">Sign Up</button>

</form>

</body>
</html>
